
<!DOCTYPE html>
<html ng-app="serviceApp">
<head>
<meta charset="utf-8" />
<title>Rendezvous</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../node_modules/lightbox2/dist/css/lightbox.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>

   
</head>


<body ng-controller="serviceCtrl">
    <div id="videoWrapper">
<!--    <video autoplay muted loop id="bgvideo" poster="imgs/chocolate.jpg">
        <source src="video/The%20Art%20of%20Coffee-SD%20cut2.mp4">
    </video>-->
    </div>
   <section id="banner">
      <a href="topPage"></a>
       <div class="wrapper">
       <header>
        <div id="logo"><img src="imgs/logo-png.png" alt=""></div>
       
    
   
               
                <nav>
                   
                    <a href="#menu">Меню</a>
                    <a href="#photo">Фото</a>
                    <a href="#contact">Зворотній зв'язок</a>
                   
               </nav>
        </header>   
            <div class="welcomeAudio">
               <h1>Запрошуємо на рандеву</h1>
                <div class="buttons audiobutton">Прослухати
                <audio id="playAudio">
                    <source src="audio/rendezvous.mp3">
                </audio>
                </div>
            </div>
        
        </div>    
    </section>
      
       <section class="section foodMenu featured">
        <a name="menu"></a>

         <div class="content">
                <h2>
                   <span class="food-heading-span-1">Європейська</span>
                   <span class="food-heading-span-2">Кухня</span>
               </h2>
               <div class="description">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium ipsa neque laudantium maiores, eligendi impedit dolores officiis necessitatibus maxime tempore quaerat odit debitis! Architecto fuga in odio, provident saepe accusantium reprehenderit assumenda deserunt, maxime necessitatibus sed, sunt sint. Architecto, obcaecati non. Quibusdam nam aut, ipsam. Quisquam quam, nihil iste minima, illum, dicta, velit magnam cumque quibusdam quaerat itaque totam quae iusto voluptate eius debitis eveniet ducimus eligendi perferendis deleniti et. Architecto itaque atque porro, asperiores, harum tenetur minus accusamus?</p>
               </div>
               <div class="buttons menuButton"><a href="#" class="menuButtonInside" id="open">Меню</a></div>
            </div>
               
       </section>
       
       <section class="events section alt">
                 <a name="photo"></a>

          <div class="content eventscontent">
              <header>
                  <h2>будь-які події
                      <span>Великі чи малі</span>
                  </h2>
              </header>
             <div class="restFloors">
                   <div class="floor1">
                     <p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error cupiditate officiis non, eveniet doloribus in? Beatae voluptatum iure na.</p>
                     <div class="buttonsEvents buttons">
                        <a href="imgs/%D0%A4%D0%BE%D1%82%D0%BE0487.jpg" data-lightbox='floor1' class="buttonFloorInside">Перший поверх</a>
                        <a href="imgs/%D0%A4%D0%BE%D1%82%D0%BE0489.jpg" data-lightbox='floor1'></a>
                        <a href="imgs/%D0%A4%D0%BE%D1%82%D0%BE0491.jpg" data-lightbox='floor1'></a>
                     </div>
                  </div>
                  <div class="floor2">
                  
                    <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos recusandae voluptatum dolore mollitia enim, dolor odio vitae dolore.</p>
                      <div class="buttonsEvents buttons">
                         <a href="imgs/%D0%A4%D0%BE%D1%82%D0%BE0494.jpg" class="buttonFloorInside" data-lightbox='floor'>Другий поверх</a>
                          <a href="imgs/%D0%A4%D0%BE%D1%82%D0%BE0491.jpg" data-lightbox='floor'></a>
                          <a href="imgs/%D0%A4%D0%BE%D1%82%D0%BE0489.jpg" data-lightbox='floor'></a>
                     </div>
                  </div>
              </div>
              
          </div>
         
       </section>
       
       <section class="tabView section">
          <div class="content">
            <div class="currentContent">
           
              <div class="barService tabViews">
                
                   <h2>Жива музика</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, soluta, obcaecati. Suscipit reiciendis eaque facere culpa, eveniet sunt, fugiat quis quidem dignissimos temporibus voluptates officia optio, ipsum distinctio animi quaerat veniam itaque iste maiores doloribus. Earum aliquam, at dignissimos nam numquam aut, aperiam cumque suscipit beatae! Aliquid ullam architecto repellat iure eaque </p>
               </div>
               <div class="sushiRolls tabViews">
                  
                   <h2>Суші роли</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus praesentium ipsa voluptatibus excepturi, modi fugit error voluptates, voluptas atque nobis perspiciatis! Accusamus enim soluta debitis, nisi at obcaecati magnam perspiciatis! Unde maiores eveniet dicta! Fuga blanditiis maxime repellendus! Dolore unde incidunt dicta corrupti rem nam officiis maiores modi, aliquam eligendi eveniet, mollitia architecto praes!</p>
                               </div>
               </div>
            <div class="buttons tab-list">
              <a href="" class="tabButtonInside" id="changeToBar" >Жива музика </a>
              <a href="" class="tabButtonInside" id="changeToRolls">Суші роли</a>
            </div>
            
           
          </div>
           
       </section>
        
       <section class="contact section">
                 <a name="contact"></a>

          <div class="content">
                <header>
                   <h2>Скажіть привіт</h2>
                       <span>Ми будемо раді вас чути</span>
                 
               </header>
               
            <form name="contactForm" action="" class="form-horizontal"  method="post" ng-submit=submit(contactForm)>
               
                <div class="form-group">
                  
                   <div class="col-md-6" show-errors> 
                       <label for="inputName" class="control-label">Ім'я</label>
                       <input name="inputName" type="text" class="form-control input-lg" id="name" required ng-model="user.name"> 
                        <p class="help-block" ng-if="contactForm.inputName.$error.required">Це поле є обов'язковим</p>
                    </div>
                
                    
                   <div class="col-md-6" show-errors>
                        <label for="inputLast" class=" control-label">Прізвище</label>
                        <input name="inputLastName" type="text" class="form-control input-lg" id="inputLast" required ng-model="user.lastName">
                        <p class="help-block" ng-if="contactForm.inputLastName.$error.required">Це поле є обов'язковим</p>
                    </div>
                                
   
                    <div class="col-md-12 " show-errors>
                        <label for="email" class="control-label">Ваш email</label>
                        <input type="email" class="form-control input-lg" id="email" required ng-model="user.email" name="inputEmail">
                        <p class="help-block" ng-if="contactForm.inputEmail.$error.required">Це поле є обов'язковим</p>
                    </div>
                    
                    <div class="col-md-12 ">
                        <label for="subject" class="control-label">Тема</label>
                        <input type="text" name="inputSubject" class="form-control input-lg" id="subject" ng-model="contactForm.subject">
                    </div> 
                    
                    <div class="col-md-12 " show-errors>
                        <label for="message" class="control-label">Повідомлення</label>
                        <textarea class="form-control input-lg" id="message" required ng-model="user.message" name="inputMessage"></textarea>
                        <p class="help-block" ng-if="contactForm.inputMessage.$error.required">Це поле є обов'язковим</p>
                    </div>
                </div>  
                <p ng-class="result">{{resultMessage}}</p>   
               <div>
                    <button class="buttons submitButton">Зв'язатися з нами</button>
                </div>
            </form>
           </div>
      </section>
    
     <footer>
        <div class="content" itemscope itemtype="http://schema.org/Organization">
            <p itemprop="name">Ви читаєте короткий опис організації . . . </p>
            <ul class="contacts">
                <li itemprop="telephone">000 00 00 000</li>
                <li itemprop="email">exampla@example.exm</li>
            </ul>
        </div>
    
    </footer>
    
      

   
   
   
   
   
   
   
   

   
   
   
   
   
   
   
   
   
   
   <!-- ------------------ Modal-menu-Window ------------------ -->
   
       
       <div id="modalWindow">
       <div class='closeButton'>X</div>
        <div class="modalContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>   
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
           </div>
       </div>
   

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   	<a href="#0" class="cd-top">Top</a>

 <script src="../node_modules/lightbox2/dist/js/lightbox.min.js"></script>
 <script src="scripts/app.js"></script>
 <script src="scripts/styleJquery.js"></script>
 
 
</body>
</html>